<ion-header >
  <iins-header></iins-header>
</ion-header>

<ion-menu [content]="mainMenu" >
  <iins-directive-menu></iins-directive-menu>
</ion-menu>

<ion-content #mainMenu>
<iins-directive-content></iins-directive-content>
<!--<ion-grid >-->
    <!--<ion-row>-->

        <!--<ion-col >-->
            <!--<iins-table></iins-table>-->
        <!--</ion-col>-->
        <!--<ion-col col-3>-->
            <!--&lt;!&ndash;<iins-t odo menu_id="insurance"></iins-t odo>&ndash;&gt;-->
        <!--</ion-col>-->
    <!--</ion-row>-->

<!--</ion-grid>-->

</ion-content>
