<ion-header no-border style="background-color: #202020">


<ion-row >
  <ion-col col-6>
    <ion-segment [(ngModel)]="tab" item-start>
      <ion-segment-button  value="travel_insurance_quote" checked>
        Quote

      </ion-segment-button>
      <ion-segment-button value="coverage">
      Policy
      </ion-segment-button>
      <ion-segment-button value="payment">
     Payment
      </ion-segment-button>
    </ion-segment>

  </ion-col>

<ion-col></ion-col>

  <ion-buttons icon-right>
    <button style="margin-right:10px;width: 66px;height: 66px;color: #202020;text-align: center;background: inherit;font-size: 20px;"
            (click)="dismiss()">
      <ion-icon name="close" color="primary"></ion-icon>
    </button>
  </ion-buttons>
</ion-row>



</ion-header>
  <ion-content>
<div style="margin-right: 10px; margin-top: 70px;">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>General Name</ion-label>
        <ion-input type="text"
                   [disabled]="true"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label floating>Manufacturer</ion-label>
        <ion-input type="text"

                   [disabled]="true"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label floating>Ports Count</ion-label>
        <ion-input type="text"

                   [disabled]="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-item>
        <ion-label floating>SNMP Port</ion-label>
        <ion-input type="text"

                   [disabled]="true"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label floating>Server Port</ion-label>
        <ion-input type="text"

                   [disabled]="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>MTBF Score (Hours)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <!--<ion-row class="nextbackbutton">-->
  <!--</ion-row>-->
</div>
</ion-content>
<ion-footer style="height: 55px;">
  <ion-row ion-fixed>
    <ion-col text-right>
      <button ion-button color="dark"> NEXT</button>
      <button ion-button color="dark" > SUBMIT</button>
    </ion-col>
  </ion-row>
</ion-footer>


<!--<ion-header  style="background-color: #2a2a2a">-->
<!--<ion-row>-->
  <!--<ion-col col-10>-->
    <!--<ion-segment [(ngModel)]="tab" color="danger" item-start>-->
      <!--<ion-segment-button col-2 value="travel_insurance_quote" checked>-->

        <!--<button ion-button outline item-end icon-left (click)="loadPage('root')" >-->
          <!--<ion-icon name="ios-globe-outline"></ion-icon>-->
          <!--Home-->
        <!--</button>-->

      <!--</ion-segment-button>-->
      <!--<ion-segment-button col-2 value="coverage">-->
        <!--<ion-buttons col-1 >-->
          <!--<button ion-button outline item-end icon-left (click)="loadPage('root')" >-->
            <!--<ion-icon name="ios-globe-outline"></ion-icon>-->
            <!--Home-->
          <!--</button>-->
        <!--</ion-buttons>-->
      <!--</ion-segment-button>-->
      <!--<ion-segment-button col-2 value="payment">-->
        <!--<ion-buttons col-1 >-->
          <!--<button ion-button outline item-end icon-left (click)="loadPage('root')" >-->
            <!--<ion-icon name="ios-globe-outline"></ion-icon>-->
            <!--Home-->
          <!--</button>-->
        <!--</ion-buttons>-->
      <!--</ion-segment-button>-->
    <!--</ion-segment>-->
  <!--</ion-col>-->
  <!--<ion-buttons col-1 >-->
  <!--<button ion-button outline item-end icon-left (click)="loadPage('root')" >-->
    <!--<ion-icon name="ios-globe-outline"></ion-icon>-->
    <!--Home-->
  <!--</button>-->
<!--</ion-buttons>-->
<!--</ion-row>-->


  <!--</ion-header>-->
  <!--<ion-content>-->
    <!--<ion-row [ngSwitch]="tab" style="margin-top: 20px">-->
      <!--<ion-col></ion-col>-->
      <!--<ion-col col-8 *ngSwitchCase="'travel_insurance_quote'">-->
        <!--<ion-item item-left>-->
          <!--<ion-label >Type of Travel:</ion-label>-->
          <!--&lt;!&ndash;<ion-input type="text" [value]="quote.typeOfTravel"></ion-input> &ndash;&gt;-->
          <!--<ion-select [(ngModel)]="quote.typeOfTravel" interface="popover" >-->
            <!--<ion-option value="Single Trip">Single Trip</ion-option>-->
            <!--<ion-option value="Multiple Trip">Multiple Trip</ion-option>-->
          <!--</ion-select>-->

        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-label >Destination:</ion-label>-->
          <!--<ion-input type="text" [value]="quote.destination"></ion-input>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
          <!--<ion-label >Departure Date:</ion-label>-->
          <!--<ion-input type="text" [value]="quote.dateOfDeparture"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-label >Return Date:</ion-label>-->
          <!--<ion-input type="text" [value]="quote.dateOfReturn"></ion-input>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
          <!--<ion-label >Coverage For:</ion-label>-->
          <!--<ion-input type="text" [value]="quote.coverageFor"></ion-input>-->
        <!--</ion-item>-->



        <!--&lt;!&ndash;</ion-list>&ndash;&gt;-->
      <!--</ion-col>-->

      <!--<ion-col *ngSwitchCase="'coverage'">-->
        <!--&lt;!&ndash;<ion-list >&ndash;&gt;-->

        <!--<ion-item>-->
          <!--<ion-label >Insurance Type:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.planType"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item-divider></ion-item-divider>-->
        <!--<ion-row *ngFor="let pb of policyInfo.coverage.planAndBenefits">-->
          <!--<ion-item>-->
            <!--<ion-label >Insurance Plan:</ion-label>-->
            <!--<ion-input type="text" [value]="pb.insurancePlan"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
            <!--<ion-label fixed>Sum Insured:</ion-label>-->
            <!--<ion-input type="text" [value]="pb.sumInsured"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<ion-label fixed>Premium:</ion-label>-->
            <!--<ion-input type="text" [value]="pb.premium"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<ion-label fixed>Deductible:</ion-label>-->
            <!--<ion-input type="text" [value]="pb.deductible"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item-divider></ion-item-divider>-->
        <!--</ion-row>-->

        <!--<ion-item>-->
          <!--<ion-label >Total Premium:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.totalPremium"></ion-input>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
          <!--<ion-label fixed>Beneficiary:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.beneficiary"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-label fixed>Relationship:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.relationship"></ion-input>-->
        <!--</ion-item>-->

        <!--&lt;!&ndash;</ion-list>&ndash;&gt;-->
      <!--</ion-col>-->
      <!--<ion-col *ngSwitchCase="'payment'">-->
        <!--&lt;!&ndash;<ion-list >&ndash;&gt;-->

        <!--<ion-item>-->
          <!--<ion-label >Payment Amount:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.payment.paymentAmount"></ion-input>-->
        <!--</ion-item>-->


        <!--<ion-item>-->
          <!--<ion-label>Payment Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.payment.paymentDate"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-label >Payment Method:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.payment.paymentMethod"></ion-input>-->
        <!--</ion-item>-->



        <!--&lt;!&ndash;</ion-list>&ndash;&gt;-->
      <!--</ion-col>-->
<!--<ion-col></ion-col>-->
    <!--</ion-row>-->
  <!--</ion-content>-->




