
iins-table {
  height: 100%;

  ion-card {
    height: 100%;
  }
  .trow {
    cursor: pointer;
    height: 48px;
    vertical-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .trow:hover .tcol {
    background-color: #1E90FF;
  }

  .trow .tcol {
    height: 100%;
    width: 48px;
    min-width: 48px;
    line-height: 48px; /* <-- this is what you must define */
    //background-color: #ddd;
    border-top: solid 1px #2a2a2a;
    //border-left: solid 1px #2a2a2a;
  }

  .trow:last-child .tcol {
    border-bottom: solid 1px #2a2a2a;
  }
  .trow .tcol:last-child {
    //border-right: solid 1px #2a2a2a;
  }

  ion-icon {
    margin-top: 6px;
    font-size: 36px;
  }

}

