

<ion-navbar color="primary">
<ion-row>

  <ion-title col-4>
    <!--<img *ngIf="logo" [src]=logo width="169px" style="display:inline-block" height="40px"/>-->
    <span  style="margin-left:20px">Intelligent Insurance </span>
  </ion-title>
  <ion-buttons col-1 >
    <button style="width: 100%" ion-button outline item-end icon-left (click)="loadPage('root')" >
      <ion-icon name="ios-globe-outline"></ion-icon>
      Home
    </button>
  </ion-buttons>
  <ion-buttons  col-1 >
    <button ion-button outline item-end icon-left (click)="loadPage('issue')">
      <ion-icon name="ios-briefcase"></ion-icon>
      Issue
    </button>
  </ion-buttons>
  <ion-buttons  col-1 >
    <button ion-button outline item-end icon-left (click)="loadPage('claims')">
      <ion-icon name="ios-heart"></ion-icon>
      Claims
    </button>
  </ion-buttons>
  <ion-buttons col-1 >
    <button ion-button outline item-end icon-left (click)="loadPage('customer')">
      <ion-icon name="ios-contacts"></ion-icon>
      CRM
    </button>
  </ion-buttons>

  <ion-buttons  col-1 >
    <button ion-button outline item-end icon-left (click)="loadPage('statistics')">
      <ion-icon name="ios-stats"></ion-icon>
      Stat
    </button>
  </ion-buttons>

  <ion-buttons col-1  margin-right="40px">
    <button ion-button outline item-end icon-left (click)="loadPage('settings')">
      <ion-icon name="settings"></ion-icon>
      Admin
    </button>
  </ion-buttons>

</ion-row>
</ion-navbar>

