
    <ion-row>
        <ion-segment [(ngModel)]="information">
            <ion-segment-button value="policy">
                Policy
            </ion-segment-button>
            <ion-segment-button value="coverage">
                Coverage
            </ion-segment-button>
            <ion-segment-button value="payment">
                Payment
            </ion-segment-button>
        </ion-segment>
    </ion-row>

    <ion-row [ngSwitch]="information" style="margin-top: 10px">
        <ion-col *ngSwitchCase="'policy'">
            <!--<ion-list >-->

                <ion-item>
                    <ion-label fixed>Policy Holder:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.policyHolder"></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label fixed>Date of Birth:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.dateOfBirth"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label fixed>Address:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.address"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Postcode:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.postcode"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label >Phone Number:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.phoneNumber"></ion-input>
                </ion-item>
            <ion-item>
                <ion-label fixed>Email:</ion-label>
                <ion-input type="text" [value]="policyInfo.policy.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label >Policy Number:</ion-label>
                <ion-input type="text" [value]="policyInfo.policy.policyNumber"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Application Date:</ion-label>
                <ion-input type="text" [value]="policyInfo.policy.applicationDate"></ion-input>
            </ion-item>

            <ion-item>
                    <ion-label fixed>Effective Date:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.effectiveDate"></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label >Expiry Date:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.expiryDate"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label >Number of Days:</ion-label>
                    <ion-input type="text" [value]="policyInfo.policy.numberOfDays"></ion-input>
                </ion-item>



            <!--</ion-list>-->
        </ion-col>

        <ion-col *ngSwitchCase="'coverage'">
            <!--<ion-list >-->

            <ion-item>
                <ion-label >Insurance Type:</ion-label>
                <ion-input type="text" [value]="policyInfo.coverage.planType"></ion-input>
            </ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-row *ngFor="let pb of policyInfo.coverage.planAndBenefits">
                <ion-item>
                    <ion-label >Insurance Plan:</ion-label>
                    <ion-input type="text" [value]="pb.insurancePlan"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label fixed>Sum Insured:</ion-label>
                    <ion-input type="text" [value]="pb.sumInsured"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Premium:</ion-label>
                    <ion-input type="text" [value]="pb.premium"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Deductible:</ion-label>
                    <ion-input type="text" [value]="pb.deductible"></ion-input>
                </ion-item>
                <ion-item-divider></ion-item-divider>
            </ion-row>

            <ion-item>
                <ion-label >Total Premium:</ion-label>
                <ion-input type="text" [value]="policyInfo.coverage.totalPremium"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Beneficiary:</ion-label>
                <ion-input type="text" [value]="policyInfo.coverage.beneficiary"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Relationship:</ion-label>
                <ion-input type="text" [value]="policyInfo.coverage.relationship"></ion-input>
            </ion-item>

            <!--</ion-list>-->
        </ion-col>
        <ion-col *ngSwitchCase="'payment'">
            <!--<ion-list >-->

            <ion-item>
                <ion-label >Payment Amount:</ion-label>
                <ion-input type="text" [value]="policyInfo.payment.paymentAmount"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label>Payment Date:</ion-label>
                <ion-input type="text" [value]="policyInfo.payment.paymentDate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Payment Method:</ion-label>
                <ion-input type="text" [value]="policyInfo.payment.paymentMethod"></ion-input>
            </ion-item>



            <!--</ion-list>-->
        </ion-col>

    </ion-row>



